/**
 * Created by vvermiichuk on 28.05.2019.
 */

.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    background-color: #d0d0dd;
}

.THIS.row {
    padding: 5px 0;
    margin-bottom: 15px;
}

.THIS.row .header {
    border-bottom: 20px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

