/**
 * Created by vvermiichuk on 28.05.2019.
 */

.THIS.c-container {
    border: 1px solid lightskyblue;
    margin: 10px 0 20px 0;
    background-color: cornflowerblue;
}

.THIS.row {
    padding: 5px 0;
    margin-bottom: 15px;
}

.THIS.row .header {
    border-bottom: 20px solid lightskyblue;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.THIS lightning-primitive-header-actions {
    display: none;
}

